@charset "UTF-8";
body {
  background-color: #fcf9ed;
}

img {
  max-width: 100%;
}

/*イベントタイトル*/
.event__content {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
  padding-bottom: 12.5rem;
}
.event__content__image {
  height: 27.25rem;
  border-radius: 0rem 6.25rem 1.5rem 0rem;
  background: url(../images/makiwaramatsuri.jpeg) lightgray 50%/cover no-repeat;
  width: 79%;
  flex-shrink: 0;
}
.event__content__text h1 {
  width: 2rem;
  color: #5d4a3a;
  font-family: "Zen Maru Gothic";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  /* 100% */
}
.event__content__text p {
  transform: rotate(90deg);
  color: #ff7f3e;
  font-family: "BIZ UDPGothic";
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  /* 100% */
}

/*イベント一覧*/
.content {
  margin-left: auto;
  margin-right: auto;
  width: 63%;
  /* 100% */
}
.content__header {
  margin-bottom: 4rem;
  color: #5d4a3a;
  font-family: "Zen Maru Gothic";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}
.content__header {
  display: flex;
  align-items: center;
  gap: 2em;
  white-space: nowrap;
}
.content__header::after {
  content: "";
  height: 2px;
  width: 100%;
  border: none;
  display: inline-block;
  border-top: dashed 2px #ff7f3e;
}

/*イベントカード*/
.card__wapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 1rem;
  row-gap: 6.5rem;
  padding-bottom: 12.5rem;
}
.card__wapper .card__wapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 1rem;
  row-gap: 6.5rem;
}
.card__wapper .card {
  color: #5d4a3a;
  width: 45%;
  position: relative;
}
.card__wapper .card::before {
  content: "参加無料";
  display: inline-block;
  background-color: #ff7f3e;
  color: #ffffff;
  font-size: 1.125rem;
  border-radius: 25px;
  padding: 1rem;
  position: absolute;
  top: -5%;
}
.card__wapper .card__image {
  width: 100%;
  margin-bottom: 1.5rem;
}
.card__wapper .card__image img {
  width: 100%;
  border-radius: 1.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 4/3;
}
.card__wapper .card__title {
  font-family: "Zen Maru Gothic";
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  /* 92.308% */
}
.card__wapper .card__date {
  font-family: "BIZ UDPGothic";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  display: inline-block;
  margin-bottom: 1rem;
  /* 120% */
}
.card__wapper .card__text {
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
  /* 180% */
}

/*フッター*/
.footer {
  padding: 3.5rem 0;
  background-color: #ffffff;
}
.footer__inner {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.footer__head {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
}
.footer__text {
  margin-left: auto;
  margin-right: auto;
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6rem;
  /* 160% */
  color: #5d4a3a;
}
.footer__text span {
  display: inline-block;
}
.footer__tel {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: "BIZ UDPGothic";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  /* 200% */
  color: #5d4a3a;
  margin-bottom: 2.5rem;
}
.footer__tel i {
  color: #ff7f3e;
  font-size: 1.5rem;
  font-style: normal;
  line-height: 1.8rem;
  /* 120% */
  margin-right: 1rem;
}
.footer__link {
  padding: 0;
}
.footer__link--list {
  margin-bottom: 2rem;
  color: #5d4a3a;
  font-family: "Zen Maru Gothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  /* 200% */
  list-style: none;
}
.footer__link .instagramLink {
  background-color: #ff7f3e;
  padding: 0.37rem 0.69rem;
  border-radius: 25px;
}
.footer__link .instagramLink i {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer__inner {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__link {
    display: flex;
    width: 100%;
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
    padding-left: 0;
  }
  .footer__link--list {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=event.css.map */