@charset "utf-8";

$color-black: #212121;
$color-gray: #e9e9e9;
$color-main: #ff7f3e;
$color-base2: #fcf9ed;
$color-white: #ffffff;
$color-brown: #5d4a3a;
$color-skyblue: #80c4e9;

$breakpoints: (
    "sm": "screen and (min-width: 430px)",
    "md": "screen and (min-width: 768px)",
    "lg": "screen and (min-width: 992px)",
    "xl": "screen and (min-width: 1200px)",
    ) !default;

@mixin mx {
    margin-left: auto;
    margin-right: auto;
}

@mixin media($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@import url(./header.css);

@import url(./footer.css);


.card--flex {

    @include media(md) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 3rem;
    }

    &__content {
        background-color: $color-white;
        padding: 2.5rem;
        border-radius: 1.25rem;
        margin-bottom: 2.5rem;

        @include media(md) {
            width: 48%;
        }

        @include media(lg) {
            width: 31%;
        }
    }

    &__text {
        font-family: "BIZ UDPGothic";
    }

    &__head {
        font-weight: 500;
        margin-bottom: 1rem;
        font-size: 1.4rem;
        line-height: 1.5;
        font-family: "Zen Kaku Gothic New",
            sans-serif;
    }

    &__img {
        width: 25%;
        margin-bottom: 1.5rem;
    }
}

.attention {

    @include media(md) {
        display: flex;
        justify-content: space-between;
    }

    &__head {
        color: $color-main;
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    &__text {
        width: 80%;
        font-family: "BIZ UDPGothic";
        width: 100%;

        @include media(md) {
            width: 80%;
        }
    }
}

.flow-card {

    .special {
        background-color: $color-main;
        color: $color-white;
    }

    &:nth-child(-n+6):after {
        content: "";
        width: 2px;
        height: 4rem;
        background-color: #DBCCB6;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    &__contant {
        background-color: $color-white;
        padding: 3rem 2rem 2rem 2rem;
        border-radius: 1.25rem;
        position: relative;
        margin-left: auto;
        margin-right: auto;

        @include media(md) {
            width: 85%;
            padding: 2.5rem 4rem;

        }
    }

    &__img {
        position: absolute;
        left: 0rem;
        top: -2rem;
        width: 70px;
        margin-bottom: 1rem;

        @include media(md) {
            left: -2rem;
            width: 80px;
        }
    }

    &__head {
        font-size: 1.35rem;
        font-weight: 500;
        margin-bottom: 0.8rem;
        line-height: 1.5;
        font-family: "Zen Kaku Gothic New",
            sans-serif;

        @include media(md) {
            margin-bottom: 1rem;
        }
    }

    &__caption {
        font-family: "BIZ UDPGothic";
    }
}