@charset "UTF-8";
html,
body {
  color: #000000;
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 16px;
  font-weight: "";
  letter-spacing: "";
  line-height: "";
  background-color: #fcf9ed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
  font-weight: 400;
  letter-spacing: "";
  line-height: "";
  word-break: break-all;
}

h1 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem; /* 100% */
}

h2 {
  font-size: 2rem;
  line-height: 3rem; /* 100% */
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

pre {
  font-size: inherit;
}

table {
  max-width: 100%;
}

th,
td {
  padding: 0.5em;
}

ol,
ul {
  padding-left: 2em;
}

iframe {
  max-width: 100%;
}

input,
textarea,
button {
  font-size: inherit;
  line-height: "";
}

code {
  font-size: inherit;
  word-break: break-all;
}

img {
  max-width: 100%;
}

.header {
  background-color: #fcf9ed;
  margin-bottom: 3.31rem;
}
.header__inner {
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.56rem;
}
.header__top {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 2.5rem;
  background-color: #fff;
  border-radius: 5rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 20px 0px rgba(55, 23, 0, 0.05);
  z-index: 100;
}
.header__top--image {
  width: 10rem;
  height: auto;
  border-radius: 50%;
  margin-right: 1.56rem;
}
.header__gnav {
  display: none;
}
.header__gnav--link {
  display: block;
  color: #212121;
  font-weight: bold;
  font-size: 1rem;
  color: #76604e;
}
.header__gnav--link:hover {
  color: #ff7f3e;
  transition: 0.3s;
}
.header__menu {
  display: none;
  background-color: #ff7f3e;
  width: 100%;
  height: 100vh;
  z-index: 50;
}
.header__menu.open {
  display: block;
}

@media screen and (min-width: 431:ppx) {
  .header {
    background-color: #fcf9ed;
    margin-bottom: 3.31rem;
  }
  .header__inner {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.56rem;
  }
  .header__top {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem 2.5rem;
    background-color: #fff;
    border-radius: 5rem;
    align-items: center;
    justify-content: space-between;
  }
  .header__top--image {
    width: 10rem;
    height: auto;
    border-radius: 50%;
    margin-right: 1.56rem;
  }
  .header__gnav {
    display: flex;
    gap: 2.5rem;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .header__gnav--link {
    display: block;
    color: #212121;
    font-weight: bold;
    font-size: 1rem;
    color: #76604e;
  }
  .header__gnav--link:hover {
    color: #ff7f3e;
    transition: 0.3s;
  }
}
.firstView__content {
  display: block;
  margin-bottom: 3.69rem;
  margin-left: auto;
  margin-right: auto;
}
.firstView__content--image {
  height: 100vh;
  border-radius: 0rem 18.96875rem 1.5rem 0rem;
  background: url(../images/firstView.jpg) lightgray 50%/cover no-repeat;
  width: 79%;
  margin-bottom: 3.8rem;
}
.firstView__content--text {
  margin-left: auto;
  margin-right: auto;
  width: 83%;
}
.firstView__content--text img {
  width: 100%;
}

@media screen and (min-width: 431:ppx) {
  .firstView__content {
    display: flex;
    justify-content: space-between;
  }
  .firstView__content--image {
    height: 100vh;
    border-radius: 0rem 18.96875rem 1.5rem 0rem;
    background: url(../images/firstView.jpg) lightgray 50%/cover no-repeat;
    width: 79%;
  }
  .firstView__content--text {
    width: 50%;
    padding: 5rem 3rem;
    background-color: #ff7f3e;
    border-radius: 1.5rem;
    color: #fff;
  }
  .firstView__content--text--title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  .firstView__content--text--detail {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
}

.topInfo {
  position: relative;
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 1.25rem 0rem 0rem 1.25rem;
  display: flex;
  flex-direction: column;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  row-gap: 1.75rem;
  color: #5d4a3a;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.62rem;
}
.topInfo::before {
  content: "もうすぐ開催";
  position: absolute;
  top: -1.4rem;
  left: 2.38rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ff7f3e;
  border-radius: 6.25rem;
  color: #fff;
  padding: 0.25rem 1rem;
}
.topInfo__day {
  font-family: "BIZ UDPGothic";
}
.topInfo__day--year {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
}
.topInfo__day--month {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem; /* 100% */
}
.topInfo__day--month .small {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
}
.topInfo__title {
  font-family: "BIZ UDPGothic";
}
.topInfo__title--text {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.125rem; /* 170% */
  padding-right: 3rem;
}
.topInfo__title--detail {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3rem; /* 130% */
}

@media screen and (min-width: 431:ppx) {
  .topInfo {
    position: absolute;
    background-color: #ffffff;
    bottom: 0;
    right: 0;
    padding: 1.5rem;
    border-radius: 1.25rem 0rem 0rem 1.25rem;
    display: flex;
    -moz-column-gap: 5rem;
         column-gap: 5rem;
    color: #5d4a3a;
  }
  .topInfo::before {
    content: "もうすぐ開催";
    position: absolute;
    top: -1.4rem;
    left: 2.38rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #ff7f3e;
    border-radius: 6.25rem;
    color: #fff;
    padding: 0.25rem 1rem;
  }
  .topInfo__day {
    font-family: "BIZ UDPGothic";
  }
  .topInfo__day--year {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
    margin-bottom: 0.5rem;
  }
  .topInfo__day--month {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem; /* 100% */
  }
  .topInfo__day--month .small {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
  }
  .topInfo__title {
    font-family: "BIZ UDPGothic";
  }
  .topInfo__title--text {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.125rem; /* 170% */
    padding-right: 3rem;
  }
  .topInfo__title--detail {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3rem; /* 130% */
  }
}
.opening__parts {
  border-radius: 1.5rem;
  background-color: #ff7f3e;
  padding: 3.5rem 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 83%;
  margin-bottom: 2.5rem;
}
.opening__parts--title {
  text-align: center;
  color: #fff;
  margin-bottom: 1.5rem;
}
.opening__parts--text {
  align-self: stretch;
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem; /* 180% */
  color: #fff;
  margin-bottom: 2.5rem;
}
.opening__parts--button {
  background-color: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6.25rem;
  padding: 1rem 2.5rem;
  margin-left: auto;
  margin-right: auto;
  color: #ff7f3e;
}
.opening__parts--button---text {
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem; /* 200% */
}
.opening__parts--button i {
  margin-left: 0.5rem;
}

@media screen and (min-width: 431:ppx) {
  .opening {
    margin-top: 6.8rem;
  }
  .opening__parts {
    background-color: #ff7f3e;
    padding: 3.5rem 0;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
  }
  .opening__parts--title {
    text-align: center;
    color: #fff;
  }
}
.section__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3.69rem;
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.section__title::before {
  display: block;
  margin-inline: auto;
  content: "";
  top: -4rem;
  left: 0%;
  width: 100%;
  height: 10px;
  z-index: 1;
  margin-top: 1rem;
  font-size: 15px;
  color: #ff7f3e;
  position: absolute;
  font-family: "BIZ UDPGothic";
}

.event {
  background-color: #ffffff;
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
  border-radius: 2.5rem 2.5rem 0rem 0rem;
}
.event__title {
  font-family: "Zen Maru Gothic";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
}
.event__title::before {
  display: block;
  margin-inline: auto;
  content: ".event";
  top: -4rem;
  left: 0%;
  width: 100%;
  height: 10px;
  z-index: 1;
  margin-top: 1rem;
  font-size: 15px;
  color: #ff7f3e;
  position: absolute;
}
.event__image--box {
  margin-bottom: 2.5rem;
}
.event__image {
  margin-bottom: 0.5rem;
}
.event__name {
  text-align: right;
  font-size: 0.9375rem;
}
.event__detail {
  margin-bottom: 2.5rem;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  color: #5d4a3a;
}
.event__detail--copy {
  font-family: "Zen Maru Gothic";
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem; /* 120% */
  color: #5d4a3a;
  margin-bottom: 1.5rem;
}
.event__detail--text {
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem; /* 180% */
}
.event__parts--button {
  background-color: #ff7f3e;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6.25rem;
  padding: 1rem 2.5rem;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}
.event__parts--button---text {
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem; /* 200% */
}
.event__parts--button i {
  margin-left: 0.5rem;
}

.storeInfo {
  background-color: #ffffff;
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
}
.storeInfo__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3.69rem;
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.storeInfo__title::before {
  display: block;
  margin-inline: auto;
  content: "Shop";
  top: -4rem;
  left: 0%;
  width: 100%;
  height: 10px;
  z-index: 1;
  margin-top: 1rem;
  font-size: 15px;
  color: #ff7f3e;
  position: absolute;
}
.storeInfo__text {
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  color: #5d4a3a;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem; /* 180% */
  margin-bottom: 2.5rem;
}

.bg-main {
  background-color: #fcf9ed;
}

.latestInfo {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
  font-family: "Zen Maru Gothic";
}
.latestInfo__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3.69rem;
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.latestInfo__title::before {
  content: "News";
  top: -3rem;
  left: 0%;
  width: 100%;
  height: 10px;
  z-index: 1;
  margin-top: 1rem;
  font-size: 15px;
  color: #ff7f3e;
  position: absolute;
}
.latestInfo__text {
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  color: #5d4a3a;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem; /* 180% */
  margin-bottom: 2.5rem;
  text-align: center;
}
.latestInfo__parts--button {
  background-color: #ff7f3e;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6.25rem;
  padding: 1rem 2.5rem;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}
.latestInfo__parts--button---text {
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem; /* 200% */
}
.latestInfo__parts--button i {
  margin-left: 0.5rem;
}

.about__imagebox {
  border-radius: 0rem 1.5rem 1.5rem 0rem;
  background: url(/images/firstView.jpg) lightgray 50%/cover no-repeat;
  flex-shrink: 0;
}
.about__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3.69rem;
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  color: #5d4a3a;
}
.about__title::before {
  content: "About";
  top: -3rem;
  left: 0%;
  width: 100%;
  height: 10px;
  z-index: 1;
  margin-top: 1rem;
  font-size: 15px;
  color: #ff7f3e;
  position: absolute;
  font-family: "BIZ UDPGothic";
}
.about__text {
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem; /* 300% */
  color: #5d4a3a;
  margin-bottom: 2.5rem;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.about__parts--button {
  background-color: #ff7f3e;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6.25rem;
  padding: 1rem 2.5rem;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}
.about__parts--button---text {
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem; /* 200% */
}
.about__parts--button i {
  margin-left: 0.5rem;
}
/*# sourceMappingURL=style.css.map */