@charset "UTF-8";
@import url(./header.css);
@import url(./footer.css);
html,
body {
  color: #5d4a3a;
  font-family: "UDPGothic", sans-serif;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.75;
  background-color: #fcf9ed;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5d4a3a;
  font-weight: 400;
  word-break: break-all;
}

h1 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
  /* 100% */
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
  /* 100% */
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}

pre {
  font-size: inherit;
}

table {
  max-width: 100%;
}

th,
td {
  padding: 0.5em;
}

ol,
ul {
  padding-left: 2em;
}

iframe {
  max-width: 100%;
}

input,
textarea,
button {
  font-size: inherit;
  line-height: "";
}

code {
  font-size: inherit;
  word-break: break-all;
}

img {
  max-width: 100%;
}

main {
  padding-top: 10rem;
}

/* ボタンのデフォルトスタイルをリセット */
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

/* モーダルウィンドウスタイル */
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: #ff7f3e;
}
.modal.show {
  display: block;
  opacity: 1;
}
.modal__content {
  padding-top: 10.62rem;
  width: 100vw;
  height: 100vh;
  text-align: center;
}
.modal__close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.modal__link {
  display: block;
  color: #ffffff;
  /* 変数を使っている場合 */
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 2.5rem;
  font-family: "Zen Kaku Gothic New", sans-serif;
  /* フォント名をクォートで囲む */
}
.modal__link i {
  font-size: 3rem;
}

.button {
  background-color: #ff7f3e;
}

.shape--blue {
  position: absolute;
  right: 5rem;
  top: 5rem;
  -webkit-animation: 1.3s fadeInAnime01;
          animation: 1.3s fadeInAnime01;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  opacity: 0;
}
.shape--orange {
  position: absolute;
  right: -7rem;
  top: -10rem;
  -webkit-animation: 1.3s fadeInAnime01;
          animation: 1.3s fadeInAnime01;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media screen and (min-width: 1000px) {
  .shape--blue {
    position: absolute;
    right: 13rem;
    top: 5rem;
    opacity: 0.4;
  }
  .shape--orange {
    position: absolute;
    right: 1rem;
    top: -10rem;
    opacity: 0.5;
  }
}

.firstView {
  position: relative;
}
.firstView__content {
  display: block;
  margin-bottom: 3.69rem;
  margin-left: auto;
  margin-right: auto;
}
.firstView__content--subtext {
  display: none;
  white-space: nowrap;
}
.firstView__content--image {
  height: 60vh;
  border-radius: 0rem 12rem 1.5rem 0rem;
  background: url(../images/dammy08.jpg) lightgray 50%/cover no-repeat;
  width: 75%;
  margin-bottom: 3.8rem;
}
.firstView__content--text {
  margin-left: auto;
  margin-right: auto;
}
.firstView__content--text img {
  width: 100%;
}
.firstView__content--text .verticalCatch {
  display: none;
}
.firstView__content--text .horizontalCatch {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 430px) {
  .firstView__content {
    display: flex;
    justify-content: space-between;
  }
  .firstView__content--image {
    height: 90vh;
    border-radius: 0rem 18.96875rem 1.5rem 0rem;
    background: url(../images/dammy08.jpg) lightgray 50%/cover no-repeat;
    width: 70%;
    margin-bottom: 0;
  }
  .firstView__content--subtext {
    color: rgba(255, 127, 62, 0.5);
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
    display: block;
  }
  .firstView__content--text-group {
    padding-left: 4%;
    padding-right: 7%;
    margin-top: 5rem;
  }
  .firstView__content--text {
    width: 100%;
    background-color: none;
  }
  .firstView__content--text .verticalCatch {
    display: block;
    margin-bottom: 4rem;
    width: 100%;
  }
  .firstView__content--text .horizontalCatch {
    display: none;
  }
  .firstView__content--text--title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  .firstView__content--text--detail {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 1000px) {
  .firstView__content--image {
    width: 80%;
  }
}
.sub-head {
  margin-bottom: 1rem;
}
@media screen and (min-width: 1000px) {
  .sub-head {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
}
.sub-head__text {
  display: inline-block;
  white-space: nowrap;
  font-weight: 500;
  font-family: "Zen Kaku Gothic New", sans-serif;
}
.sub-head hr {
  height: 2px;
  width: 100%;
  border: none;
  display: inline-block;
  border-top: dashed 2px #ff7f3e;
}
@media screen and (min-width: 1000px) {
  .sub-head hr {
    margin-left: 1rem;
  }
}

.main-section {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 1280px;
  padding: 3rem 0;
}
@media screen and (min-width: 1000px) {
  .main-section {
    padding: 6rem 0;
  }
}

.topInfo {
  position: relative;
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 1.25rem 0rem 0rem 1.25rem;
  display: flex;
  flex-direction: column;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  row-gap: 1.75rem;
  color: #5d4a3a;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.62rem;
}
.topInfo::before {
  content: "もうすぐ開催";
  position: absolute;
  top: -1.4rem;
  left: 2.38rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ff7f3e;
  border-radius: 6.25rem;
  color: #fff;
  padding: 0.25rem 1rem;
}
.topInfo__day {
  font-family: "BIZ UDPGothic";
}
.topInfo__day--year {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
}
.topInfo__day--month {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  /* 100% */
}
.topInfo__day--month .small {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
}
.topInfo__title {
  font-family: "BIZ UDPGothic";
}
.topInfo__title--text {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.125rem;
  /* 170% */
  padding-right: 3rem;
}
.topInfo__title--detail {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3rem;
  /* 130% */
}

@media screen and (min-width: 1000px) {
  .topInfo {
    position: absolute;
    bottom: 10vh;
    right: 0;
    padding: 1.5rem;
    border-radius: 1.25rem 0rem 0rem 1.25rem;
    display: flex;
    flex-direction: row;
    width: auto;
  }
  .topInfo::before {
    content: "もうすぐ開催";
    position: absolute;
    top: -1.4rem;
    left: 2.38rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #ff7f3e;
    border-radius: 6.25rem;
    color: #fff;
    padding: 0.25rem 1rem;
  }
  .topInfo * {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .topInfo__day {
    font-family: "BIZ UDPGothic";
  }
  .topInfo__day--year {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
    margin-bottom: 0.5rem;
  }
  .topInfo__day--month {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    /* 100% */
  }
  .topInfo__day--month .small {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
  }
  .topInfo__title {
    font-family: "BIZ UDPGothic";
  }
  .topInfo__title--text {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.125rem;
    /* 170% */
    padding-right: 3rem;
  }
  .topInfo__title--detail {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3rem;
    /* 130% */
  }
}
.sub-head {
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 1000px) {
  .sub-head {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }
}
.sub-head__text {
  display: inline-block;
  white-space: nowrap;
  font-weight: 500;
  font-family: "Zen Kaku Gothic New", sans-serif;
}
.sub-head hr {
  height: 2px;
  width: 100%;
  border: none;
  display: inline-block;
  border-top: dashed 2px #ff7f3e;
}
@media screen and (min-width: 1000px) {
  .sub-head hr {
    margin-left: 1rem;
  }
}

.opening {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.opening__banner {
  width: 100%;
}
.opening__link {
  display: inline-block;
}
.opening__link-pc {
  display: none;
}
.opening__link-sp {
  display: inline-block;
  border: rgba(93, 74, 58, 0.2) solid 1px;
  width: 80%;
}
@media screen and (min-width: 430px) {
  .opening__link-pc {
    display: inline-block;
    border: rgba(93, 74, 58, 0.2) solid 1px;
    width: 80%;
  }
  .opening__link-sp {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .opening__link-pc {
    width: 50%;
  }
}
.opening__parts {
  border-radius: 1.5rem;
  background-color: #ff7f3e;
  padding: 3.5rem 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 83%;
  margin-bottom: 3.62rem;
}
.opening__parts--title {
  text-align: center;
  color: #fff;
  margin-bottom: 1.5rem;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
}
.opening__parts--text {
  align-self: stretch;
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
  /* 180% */
  color: #fff;
  margin-bottom: 2.5rem;
}
.opening__parts--text span {
  display: inline;
}
.opening__parts--button {
  background-color: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6.25rem;
  padding: 1rem 2.5rem;
  margin-left: auto;
  margin-right: auto;
  color: #ff7f3e;
}
.opening__parts--button---text {
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  /* 200% */
}
.opening__parts--button i {
  margin-left: 0.5rem;
}

@media screen and (min-width: 1000px) {
  .opening {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
  .opening__parts {
    padding: 3.5rem 0;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
  }
  .opening__parts--title {
    text-align: center;
    color: #fff;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    font-family: "Zen Kaku Gothic New", sans-serif;
    /* 100% */
  }
  .opening__parts--text {
    width: 34rem;
    text-align: center;
    font-family: "BIZ UDPGothic";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;
    /* 180% */
    margin-left: auto;
    margin-right: auto;
  }
  .opening__parts--text span {
    display: inline;
  }
}
.section__title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3.69rem;
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  font-family: "Zen Kaku Gothic New", sans-serif;
}
.section__title::before {
  display: block;
  margin-inline: auto;
  content: "";
  top: -3rem;
  left: 0%;
  width: 100%;
  height: 10px;
  z-index: 1;
  margin-top: 1rem;
  font-size: 15px;
  color: #ff7f3e;
  position: absolute;
  font-family: "BIZ UDPGothic";
}

@media screen and (min-width: 1000px) {
  .section__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 3.69rem;
    margin-inline: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
  }
  .section__title::before {
    display: block;
    margin-inline: auto;
    content: "";
    top: -3rem;
    left: 0%;
    width: 100%;
    height: 10px;
    z-index: 1;
    margin-top: 1rem;
    font-size: 15px;
    color: #ff7f3e;
    position: absolute;
    font-family: "BIZ UDPGothic";
  }
}
.event {
  background-color: #ffffff;
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
  border-radius: 2.5rem 2.5rem 0rem 0rem;
  position: relative;
}
.event__content {
  margin-bottom: 6rem;
}
.event__title {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  text-align: center;
  margin-bottom: 4rem;
}
.event__title::before {
  display: block;
  margin-inline: auto;
  content: "Event";
  width: 100%;
  margin-top: 1rem;
  font-size: 15px;
  color: #ff7f3e;
}
.event__image--box {
  margin-bottom: 2.5rem;
}
.event__image {
  margin-bottom: 0.5rem;
}
.event__name {
  text-align: right;
  font-size: 0.9375rem;
  margin-right: 1rem;
}
.event__detail {
  margin-bottom: 2.5rem;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  color: #5d4a3a;
}
.event__detail--copy {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
  /* 120% */
  color: #5d4a3a;
  margin-bottom: 1.5rem;
}
.event__detail--text {
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
  /* 180% */
}
.event__parts--button {
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6.25rem;
  color: #ffffff;
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.07rem;
}
.event__parts--button-text {
  display: block;
  padding: 1rem 2.5rem;
}
.event__parts--button i {
  margin-left: 0.5rem;
}
.event__info {
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid #ff7f3e;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  position: fixed;
  bottom: 3%;
  right: 2%;
  z-index: 2;
}
.event__info::before {
  content: url(/images/tabler_pin-filled.svg);
  top: -2.5rem;
  left: 40%;
  position: absolute;
}
.event__info--title {
  text-align: center;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.event__info--content {
  text-align: center;
  display: flex;
  border-top: #ff7f3e dashed 2px;
  border-bottom: #ff7f3e dashed 2px;
  padding: 1rem 0;
  font-size: 1rem;
  color: #ff7f3e;
  font-weight: 600;
  font-family: "Zen Kaku Gothic New", sans-serif;
}
.event__info time {
  margin-right: 3rem;
}

@media screen and (min-width: 1000px) {
  .event__content {
    display: flex;
    justify-content: space-between;
    -moz-column-gap: 5rem;
         column-gap: 5rem;
    align-items: center;
    margin-bottom: 6rem;
  }
  .event__image--box {
    width: 50%;
    border-radius: 0rem 1rem;
    padding: 0;
    margin-bottom: 0;
  }
  .event__image--box img {
    border-radius: 0rem 1rem 1rem 0;
    aspect-ratio: 16/9;
  }
  .event__name {
    font-family: "BIZ UDPGothic";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    /* 200% */
  }
  .event__expl {
    padding-right: 10%;
    text-align: left;
    width: 44%;
  }
  .event__detail {
    width: 100%;
  }
  .event__parts--button {
    margin-left: 0;
  }
}
.storeInfo {
  background-color: #ffffff;
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
}
.storeInfo__title {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 4rem;
}
.storeInfo__title::before {
  display: block;
  margin-inline: auto;
  content: "Shop";
  width: 100%;
  margin-top: 1rem;
  font-size: 15px;
  color: #ff7f3e;
}
.storeInfo__text {
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  color: #5d4a3a;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
  /* 180% */
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.storeInfo ul {
  list-style: none;
}
@-webkit-keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.storeInfo .scroll-infinity__wrap {
  display: flex;
  overflow: hidden;
}
.storeInfo .scroll-infinity__list {
  display: flex;
  list-style: none;
  padding: 0;
}
.storeInfo .scroll-infinity__list--left {
  -webkit-animation: infinity-scroll-left 80s infinite linear 0.5s both;
          animation: infinity-scroll-left 80s infinite linear 0.5s both;
}
.storeInfo .scroll-infinity__item {
  width: 66.6666666667vw;
  margin-right: 1.5rem;
}
.storeInfo .scroll-infinity__item > img {
  width: 100%;
  border-radius: 1.25rem;
}
@-webkit-keyframes infinity-scroll-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes infinity-scroll-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.storeInfo .scroll-infinity__wrap {
  display: flex;
  overflow: hidden;
}
.storeInfo .scroll-infinity__list {
  display: flex;
  list-style: none;
  padding: 0;
}
.storeInfo .scroll-infinity__list--right {
  -webkit-animation: infinity-scroll-right 80s infinite linear 0.5s both;
          animation: infinity-scroll-right 80s infinite linear 0.5s both;
}
.storeInfo .scroll-infinity__item {
  width: 40vw;
  margin-right: 1.5rem;
}
.storeInfo .scroll-infinity__item > img {
  width: 100%;
  border-radius: 1rem;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 430px) {
  .storeInfo .imageScroll {
    margin-bottom: 3.75rem;
  }
  .storeInfo__text {
    text-align: center;
    font-family: "BIZ UDPGothic";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;
    /* 180% */
    margin-bottom: 3.75rem;
  }
  .storeInfo__text span {
    display: block;
  }
  .storeInfo .button {
    margin-left: auto;
    margin-right: auto;
  }
  .storeInfo .scroll-infinity__item {
    width: 33.3333333333vw;
    margin-right: 2rem;
    max-width: 22rem;
  }
  .storeInfo .scroll-infinity__item > img {
    width: 100%;
    border-radius: 1.25rem;
    aspect-ratio: 16/9;
  }
}
.bg-main {
  background-color: #fcf9ed;
}

.latestInfo {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
  font-family: "Zen Kaku Gothic New", sans-serif;
  text-align: center;
}
.latestInfo__title {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  text-align: center;
  margin-bottom: 4rem;
}
.latestInfo__title::before {
  display: block;
  margin-inline: auto;
  content: "News";
  width: 100%;
  font-size: 15px;
  color: #ff7f3e;
}
.latestInfo__instagram {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.69rem;
  padding-left: 0px !important;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
.latestInfo__instagram li {
  width: 30%;
  aspect-ratio: 1/1;
  background-image: url(/images/dammy04.jpg);
  border-radius: 0.5rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.latestInfo__instagram li:nth-child(2) {
  background-image: url(/images/dammy03.jpg);
}
.latestInfo__instagram li:nth-child(3) {
  background-image: url(/images/dammy02.jpg);
}
.latestInfo__instagram--post {
  width: 7rem;
}
.latestInfo__instagram--post img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}
.latestInfo__text {
  font-family: "BIZ UDPGothic";
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  color: #5d4a3a;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
  /* 180% */
  margin-bottom: 2.5rem;
  text-align: center;
}
.latestInfo__parts--button {
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6.25rem;
  color: #ffffff;
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.07rem;
}
.latestInfo__parts--button-text {
  display: block;
  padding: 1rem 2.5rem;
}
.latestInfo__parts--button i {
  margin-left: 0.5rem;
}

@media screen and (min-width: 1000px) {
  .latestInfo__instagram {
    margin-bottom: 3.75rem;
    width: 58.6885245902%;
    margin-left: auto;
    margin-right: auto;
    max-width: 716px;
  }
  .latestInfo__instagram--post {
    width: 13rem;
  }
}
.about {
  padding-bottom: 6.5rem;
  position: relative;
  background-image: url(/images/aboutimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
.about::before {
  content: url(/images/SVG/about_archi.svg);
  top: 0;
  left: 50%;
  width: 100%;
}
.about__imagebox {
  width: 70%;
  margin-bottom: 2rem;
  margin-top: 6rem;
  display: inline;
}
.about__imagebox img {
  border-radius: 0rem 1.5rem 1.5rem 0rem;
}
.about__title {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  text-align: center;
  margin-bottom: 4rem;
  color: #ffffff;
  padding-top: 3rem;
}
.about__title::before {
  display: block;
  margin-inline: auto;
  content: "About";
  width: 100%;
  font-size: 15px;
  color: #ffffff;
}
.about__text {
  font-family: "BIZ UDPGothic";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem;
  color: #ffffff;
  /* 300% */
  margin-bottom: 2.5rem;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.about__parts--button {
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6.25rem;
  color: #ffffff;
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.07rem;
}
.about__parts--button-text {
  display: block;
  padding: 1rem 2.5rem;
}
.about__parts--button i {
  margin-left: 0.5rem;
}
.about .image__sub01,
.about .image__sub02 {
  border-radius: 0.5rem;
}
.about .image__sub01 {
  border-radius: 0.5rem 0 0 0.5rem;
}
.about .image__area {
  display: flex;
  flex-direction: row-reverse;
  -moz-column-gap: 5%;
       column-gap: 5%;
  align-items: flex-start;
  width: 100%;
  position: relative;
}
@media screen and (min-width: 1000px) {
  .about .image__area {
    -moz-column-gap: 3%;
         column-gap: 3%;
  }
}
.about .image__area--top {
  margin-bottom: 3rem;
}
@media screen and (min-width: 430px) {
  .about .image__area--top {
    margin-bottom: 0;
  }
}
.about .image__area--top figure:nth-child(1) {
  width: 53%;
}
.about .image__area--top figure:nth-child(1) img {
  border-radius: 0 1rem 1rem 0;
}
@media screen and (min-width: 430px) {
  .about .image__area--top figure:nth-child(1) {
    width: 43%;
  }
}
@media screen and (min-width: 1000px) {
  .about .image__area--top figure:nth-child(1) {
    width: 33%;
  }
}
.about .image__area--top figure:nth-child(2) {
  width: 35%;
  position: absolute;
  left: 30%;
  top: 5rem;
}
.about .image__area--top figure:nth-child(2) img {
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 430px) {
  .about .image__area--top figure:nth-child(2) {
    width: 25%;
  }
}
@media screen and (min-width: 1000px) {
  .about .image__area--top figure:nth-child(2) {
    width: 20%;
    left: 25%;
  }
}
.about .image__area--top figure:nth-child(2) img {
  border-radius: 1rem;
}
.about .image__area img {
  border-radius: 1rem 0 0 1rem;
}
.about .image__area img:nth-child(1) {
  width: 40%;
  aspect-ratio: 2/3;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .image__area img:nth-child(1) img {
  border-radius: 1rem;
}
@media screen and (min-width: 430px) {
  .about .image__area img:nth-child(1) {
    width: 30%;
  }
}
@media screen and (min-width: 1000px) {
  .about .image__area img:nth-child(1) {
    width: 25%;
    margin-top: -15rem;
  }
}
.about .image__area img:nth-child(2) {
  margin-top: 60%;
  width: 40%;
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
@media screen and (min-width: 430px) {
  .about .image__area img:nth-child(2) {
    width: 30%;
    margin-top: 35%;
  }
}
@media screen and (min-width: 1000px) {
  .about .image__area img:nth-child(2) {
    width: 20%;
    margin-top: 15rem;
  }
}
.about__opening {
  width: 83%;
  background-color: #ffffff;
  padding: 3rem 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.5rem;
}
.about__opening__title {
  text-align: center;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  /* 125% */
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  color: #5d4a3a;
}
.about__opening__title::before {
  content: "Opening a store";
  display: block;
  content: "About";
  margin-inline: auto;
  line-height: 2.5rem;
  width: 100%;
  font-size: 15px;
  color: #ff7f3e;
}
.about__opening__text {
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
  /* 180% */
  color: #5d4a3a;
  margin: 2.5rem auto;
  text-align: center;
}
.about__opening__parts--button {
  background-color: #ff7f3e;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6.25rem;
  padding: 1rem 2.5rem;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}
.about__opening__parts--button---text {
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  /* 200% */
}
.about__opening__parts--button i {
  margin-left: 0.5rem;
}

@media screen and (min-width: 1000px) {
  .about__imagebox {
    margin-bottom: 6.5rem;
    width: 30%;
  }
  .about__imagebox .image__area {
    display: flex;
    margin-bottom: 3.69rem;
    flex-direction: row-reverse;
    -moz-column-gap: 4.5rem;
         column-gap: 4.5rem;
    align-items: flex-start;
    margin-bottom: 12.75rem;
  }
}
@media screen and (min-width: 1000px) and (min-width: 1000px) {
  .about__imagebox .image__area {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .about__imagebox .image__area img:nth-child(1) {
    width: 30%;
  }
  .about__imagebox .image__area img:nth-child(2) {
    margin-top: 20%;
    width: 30%;
  }
}
@media screen and (min-width: 1000px) {
  .about__imagebox .image__area :nth-child(1) {
    border-radius: 1rem;
  }
}
.access {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
  background-color: #ffffff;
}
.access__title {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  text-align: center;
  margin-bottom: 4rem;
}
.access__title::before {
  display: block;
  margin-inline: auto;
  content: "Access";
  width: 100%;
  font-size: 15px;
  color: #ff7f3e;
}
.access__map {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 1/1;
  border: 0.2px solid #4e4e4e;
  border-radius: 0.5rem;
  margin-bottom: 2.5rem;
}
.access__map iframe {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  padding: auto;
}
.access__link {
  display: block;
  color: #5d4a3a;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
  /* 180% */
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-bottom: 2.5rem;
}
.access__route--guide {
  display: flex;
  margin-bottom: 2.5rem;
  gap: 1.5rem;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.access__route--guide:nth-child(2) {
  margin-bottom: 0;
  align-items: center;
}
.access__route--guide__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
  /* 180% */
  border-radius: 1.5rem;
  padding: 0.25rem 1rem;
  color: #ff7f3e;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}
.access__route--guide .dlwrap {
  width: 73%;
}
.access__route--guide__text {
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
  /* 180% */
  color: #5d4a3a;
}
.access__route--guide__text.caution {
  color: #ff7f3e;
}

@media screen and (min-width: 1000px) {
  .access__wrapper {
    display: flex;
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
  .access__map {
    width: 47%;
    aspect-ratio: 3/2;
  }
  .access__info {
    width: 47%;
  }
  .access__link {
    width: 100%;
  }
  .access__route--guide {
    width: 100%;
  }
}
.scroll-infinity {
  margin-bottom: 0;
}
@media screen and (min-width: 1000px) {
  .scroll-infinity {
    margin-bottom: 1rem;
  }
}

.br__sp {
  display: block;
}
@media screen and (min-width: 1000px) {
  .br__sp {
    display: none;
  }
}

@-webkit-keyframes fadeInAnime01 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes fadeInAnime01 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
/*# sourceMappingURL=style.css.map */