@charset "utf-8";

$color-black: #212121;
$color-gray: #e9e9e9;
$color-main: #ff7f3e;
$color-base2: #fcf9ed;
$color-white: #ffffff;
$color-brown: #5d4a3a;
$color-skyblue: #80c4e9;

$breakpoints: (
  "sm": "screen and (min-width: 430px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 992px)",
  "xl": "screen and (min-width: 1200px)",
) !default;

@mixin mx {
  margin-left: auto;
  margin-right: auto;
}

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@import url(./header.css);

@import url(./footer.css);

html,
body {
  color: #000000;
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 16px;
  font-weight: "";
  letter-spacing: "";
  line-height: "";
  background-color: $color-base2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-black;
  font-weight: 400;
  letter-spacing: "";
  line-height: "";
  word-break: break-all;
}

h1 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem; /* 100% */
}

h2 {
  font-size: 2rem;
  line-height: 3rem; /* 100% */
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

pre {
  font-size: inherit;
}

table {
  max-width: 100%;
}

th,
td {
  padding: 0.5em;
}

ol,
ul {
  padding-left: 2em;
}

iframe {
  max-width: 100%;
}

input,
textarea,
button {
  font-size: inherit;
  line-height: "";
}

code {
  font-size: inherit;
  word-break: break-all;
}

img {
  max-width: 100%;
}

.button {
  &:hover {
    background-color: $color-skyblue;
    color: $color-white;
    transition: 0.3s;
  }
}

.firstView {
  &__content {
    display: block;
    margin-bottom: 3.69rem;
    @include mx;
    &--image {
      height: 100vh;
      border-radius: 0rem 18.96875rem 1.5rem 0rem;
      background: url(../images/firstView.jpg) lightgray 50% / cover no-repeat;
      width: 79%;
      margin-bottom: 3.8rem;
    }
    &--text {
      @include mx;
      width: 83%;
      img {
        width: 100%;
      }
      .verticalCatch {
        display: none;
      }
      .horizontalCatch {
        display: block;
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
      }
    }
  }
}

@include media("md") {
  .firstView {
    &__content {
      display: flex;
      justify-content: space-between;
      &--image {
        height: 100vh;
        border-radius: 0rem 18.96875rem 1.5rem 0rem;
        background: url(../images/firstView.jpg) lightgray 50% / cover no-repeat;
        width: 79%;
      }
      &--text {
        width: 22%;
        padding: 5rem 3rem;
        background-color: none;
        .verticalCatch {
          display: block;
          margin-bottom: 1.5rem;
        }
        .horizontalCatch {
          display: none;
        }
        &--title {
          font-size: 2.5rem;
          font-weight: 700;
          margin-bottom: 1.5rem;
        }
        &--detail {
          font-size: 1.25rem;
          font-weight: 400;
          line-height: 1.5rem;
        }
      }
    }
  }
}

.topInfo {
  position: relative;
  background-color: $color-white;
  padding: 1.5rem;
  border-radius: 1.25rem 0rem 0rem 1.25rem;
  display: flex;
  flex-direction: column;
  column-gap: 5rem;
  row-gap: 1.75rem;
  color: $color-brown;
  width: 83%;
  @include mx;
  margin-bottom: 3.62rem;
  &::before {
    content: "もうすぐ開催";
    position: absolute;
    top: -1.4rem;
    left: 2.38rem;
    width: fit-content;
    background-color: $color-main;
    border-radius: 6.25rem;
    color: #fff;
    padding: 0.25rem 1rem;
  }
  &__day {
    font-family: "BIZ UDPGothic";
    &--year {
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.25rem;
      margin-bottom: 0.5rem;
    }
    &--month {
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: 2.5rem; /* 100% */
      .small {
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.5rem;
      }
    }
  }
  &__title {
    font-family: "BIZ UDPGothic";
    &--text {
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 700;
      line-height: 2.125rem; /* 170% */
      padding-right: 3rem;
    }
    &--detail {
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.3rem; /* 130% */
    }
  }
}

@include media("md") {
  .topInfo {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1.5rem;
    border-radius: 1.25rem 0rem 0rem 1.25rem;
    display: flex;
    flex-direction: row;
    width: auto;
    &::before {
      content: "もうすぐ開催";
      position: absolute;
      top: -1.4rem;
      left: 2.38rem;
      width: fit-content;
      background-color: $color-main;
      border-radius: 6.25rem;
      color: #fff;
      padding: 0.25rem 1rem;
    }
    * {
      width: fit-content;
    }
    &__day {
      font-family: "BIZ UDPGothic";
      &--year {
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.25rem;
        margin-bottom: 0.5rem;
      }
      &--month {
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.5rem; /* 100% */
        .small {
          font-size: 1.25rem;
          font-style: normal;
          font-weight: 700;
          line-height: 2.5rem;
        }
      }
    }
    &__title {
      font-family: "BIZ UDPGothic";
      &--text {
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.125rem; /* 170% */
        padding-right: 3rem;
      }
      &--detail {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.3rem; /* 130% */
      }
    }
  }
}

.opening {
  &__parts {
    border-radius: 1.5rem;
    background-color: $color-main;
    padding: 3.5rem 2rem;
    @include mx;
    width: 83%;
    margin-bottom: 3.62rem;
    &--title {
      text-align: center;
      color: #fff;
      margin-bottom: 1.5rem;
    }
    &--text {
      align-self: stretch;
      font-family: "BIZ UDPGothic";
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.8rem; /* 180% */
      color: #fff;
      margin-bottom: 2.5rem;
      span {
        display: inline;
      }
    }
    &--button {
      background-color: $color-white;
      width: fit-content;
      border-radius: 6.25rem;
      padding: 1rem 2.5rem;
      @include mx;
      color: $color-main;
      &---text {
        font-family: "BIZ UDPGothic";
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2rem; /* 200% */
      }
      i {
        margin-left: 0.5rem;
      }
    }
  }
}

@include media("md") {
  .opening {
    margin-top: 6.8rem;
    &__parts {
      background-color: $color-main;
      padding: 3.5rem 0;
      width: 66%;
      @include mx;
      &--title {
        text-align: center;
        color: #fff;
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2rem; /* 100% */
      }
      &--text {
        width: 32rem;
        text-align: center;
        font-family: "BIZ UDPGothic";
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.8rem; /* 180% */
        @include mx;
        span {
          display: inline;
        }
      }
    }
  }
}

.section__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3.69rem;
  margin-inline: auto;
  width: fit-content;
  position: relative;
  &::before {
    display: block;
    margin-inline: auto;
    content: "";
    top: -3rem;
    left: 0%;
    width: 100%;
    height: 10px;
    z-index: 1;
    margin-top: 1rem;
    font-size: 15px;
    color: $color-main;
    position: absolute;
    font-family: "BIZ UDPGothic";
  }
}

@include media("md") {
  .section__title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3.69rem;
    margin-inline: auto;
    width: fit-content;
    position: relative;
    &::before {
      display: block;
      margin-inline: auto;
      content: "";
      top: -3rem;
      left: 0%;
      width: 100%;
      height: 10px;
      z-index: 1;
      margin-top: 1rem;
      font-size: 15px;
      color: $color-main;
      position: absolute;
      font-family: "BIZ UDPGothic";
    }
  }
}

.event {
  background-color: $color-white;
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
  border-radius: 2.5rem 2.5rem 0rem 0rem;
  &__title {
    font-family: "Zen Maru Gothic";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    &::before {
      display: block;
      margin-inline: auto;
      content: "Event";
      top: -3rem;
      left: 0%;
      width: 100%;
      height: 10px;
      z-index: 1;
      margin-top: 1rem;
      font-size: 15px;
      color: $color-main;
      position: absolute;
    }
  }

  &__image--box {
    margin-bottom: 2.5rem;
  }

  &__image {
    margin-bottom: 0.5rem;
  }
  &__name {
    text-align: right;
    font-size: 0.9375rem;
  }

  &__detail {
    margin-bottom: 2.5rem;
    width: 83%;
    @include mx;
    color: $color-brown;
    &--copy {
      font-family: "Zen Maru Gothic";
      font-size: 2rem;
      font-style: normal;
      font-weight: 500;
      line-height: 2.4rem; /* 120% */
      color: $color-brown;
      margin-bottom: 1.5rem;
    }
    &--text {
      font-family: "BIZ UDPGothic";
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.8rem; /* 180% */
    }
  }
  &__parts {
    &--button {
      background-color: $color-main;
      width: fit-content;
      border-radius: 6.25rem;
      padding: 1rem 2.5rem;
      @include mx;
      color: $color-white;
      &---text {
        font-family: "BIZ UDPGothic";
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2rem; /* 200% */
      }
      i {
        margin-left: 0.5rem;
      }
    }
  }
}

@include media("md") {
  .event {
    &__content {
      display: flex;
      justify-content: space-between;
      column-gap: 6.5rem;
      align-items: center;
    }
    &__image--box {
      width: 50%;
      border-radius: 0rem 1rem;
      padding: 0;

      img {
        border-radius: 0rem 1rem 1rem 0;
      }
    }
    &__name {
      font-family: "BIZ UDPGothic";
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 700;
      line-height: 2.5rem; /* 200% */
    }
    &__expl {
      padding-right: 6.5rem;
      text-align: left;
      width: 40%;
    }

    &__detail {
      width: 100%;
    }
    &__parts--button {
      margin-left: 0;
    }
  }
}

.storeInfo {
  background-color: $color-white;
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;

  &__title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3.69rem;
    margin-inline: auto;
    width: fit-content;
    position: relative;
    &::before {
      display: block;
      margin-inline: auto;
      content: "Shop";
      top: -3rem;
      left: 0%;
      width: 100%;
      height: 10px;
      z-index: 1;
      margin-top: 1rem;
      font-size: 15px;
      color: $color-main;
      position: absolute;
    }
  }

  &__text {
    width: 83%;
    @include mx;
    color: $color-brown;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem; /* 180% */
    margin-bottom: 2.5rem;
  }

  ul {
    list-style: none;
  }
  @keyframes infinity-scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .scroll-infinity__wrap {
    display: flex;
    overflow: hidden;
  }
  .scroll-infinity__list {
    display: flex;
    list-style: none;
    padding: 0;
  }
  .scroll-infinity__list--left {
    animation: infinity-scroll-left 80s infinite linear 0.5s both;
  }

  .scroll-infinity__item {
    width: calc(100vw / 1.5);
    margin-right: 1.5rem;
  }
  .scroll-infinity__item > img {
    width: 100%;
    border-radius: 1.25rem;
  }

  @keyframes infinity-scroll-right {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .scroll-infinity__wrap {
    display: flex;
    overflow: hidden;
  }

  .scroll-infinity__list {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .scroll-infinity__list--right {
    animation: infinity-scroll-right 80s infinite linear 0.5s both;
  }

  .scroll-infinity__item {
    width: calc(100vw / 1.5);
    margin-right: 1.5rem;
  }

  .scroll-infinity__item > img {
    width: 100%;
    border-radius: 1.25rem;
  }
}

@include media("md") {
  .scroll-infinity__item {
    width: calc(100vw / 3);
    margin-right: 4rem;
    max-width: 22rem;
  }
  .scroll-infinity__item > img {
    width: 100%;
    border-radius: 1.25rem;
  }
}

.bg-main {
  background-color: $color-base2;
}

.latestInfo {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
  font-family: "Zen Maru Gothic";

  &__title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3.69rem;
    margin-inline: auto;
    width: fit-content;
    position: relative;
    &::before {
      content: "News";
      top: -3rem;
      left: 0%;
      width: 100%;
      height: 10px;
      z-index: 1;
      margin-top: 1rem;
      font-size: 15px;
      color: $color-main;
      position: absolute;
    }
  }

  &__text {
    width: 83%;
    @include mx;
    color: $color-brown;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem; /* 180% */
    margin-bottom: 2.5rem;
    text-align: center;
  }

  &__parts {
    &--button {
      background-color: $color-main;
      width: fit-content;
      border-radius: 6.25rem;
      padding: 1rem 2.5rem;
      @include mx;
      color: $color-white;
      &---text {
        font-family: "BIZ UDPGothic";
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2rem; /* 200% */
      }
      i {
        margin-left: 0.5rem;
      }
    }
  }
}

.about {
  padding-bottom: 6.5rem;
  &__imagebox {
    border-radius: 0rem 1.5rem 1.5rem 0rem;
    background: url(/images/firstView.jpg) lightgray 50% / cover no-repeat;
    flex-shrink: 0;
  }

  &__title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3.69rem;
    margin-inline: auto;
    width: fit-content;
    position: relative;
    color: $color-brown;
    &::before {
      content: "About";
      top: -3rem;
      left: 0%;
      width: 100%;
      height: 10px;
      z-index: 1;
      margin-top: 1rem;
      font-size: 15px;
      color: $color-main;
      position: absolute;
      font-family: "BIZ UDPGothic";
    }
  }
  &__text {
    font-family: "BIZ UDPGothic";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.75rem; /* 300% */
    color: $color-brown;
    margin-bottom: 2.5rem;
    width: 83%;
    @include mx;
    text-align: center;
  }

  &__parts {
    &--button {
      background-color: $color-main;
      width: fit-content;
      border-radius: 6.25rem;
      padding: 1rem 2.5rem;
      @include mx;
      color: $color-white;
      &---text {
        font-family: "BIZ UDPGothic";
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2rem; /* 200% */
      }
      i {
        margin-left: 0.5rem;
      }
    }
  }
  .image__area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.69rem;
    :nth-child(1) {
      border-radius: 1.5rem;
    }
  }

  &__opening {
    width: 83%;
    background-color: $color-white;
    padding: 7.5rem 2rem 3.5rem;
    @include mx;
    border-radius: 1.5rem;
    &__title {
      text-align: center;
      font-family: "Zen Maru Gothic";
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: 2.5rem; /* 125% */
      margin-inline: auto;
      width: fit-content;
      position: relative;
      color: $color-brown;
      &::before {
        content: "Opening a store";
        top: -3rem;
        left: 0%;
        width: 100%;
        height: 10px;
        z-index: 1;
        font-size: 15px;
        color: $color-main;
        position: absolute;
        font-family: "BIZ UDPGothic";
      }
    }

    &__text {
      font-family: "BIZ UDPGothic";
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.8rem; /* 180% */
      color: $color-brown;
      margin: 2.5rem auto;
      text-align: center;
    }

    &__parts {
      &--button {
        background-color: $color-main;
        width: fit-content;
        border-radius: 6.25rem;
        padding: 1rem 2.5rem;
        @include mx;
        color: $color-white;
        &---text {
          font-family: "BIZ UDPGothic";
          font-size: 1rem;
          font-style: normal;
          font-weight: 700;
          line-height: 2rem; /* 200% */
        }
        i {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

.access {
  padding-top: 6.5rem;
  padding-bottom: 3.5rem;
  background-color: $color-white;
  &__title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    margin-inline: auto;
    width: fit-content;
    position: relative;
    color: $color-brown;
    &::before {
      content: "Access";
      top: -3rem;
      left: 0%;
      width: 100%;
      height: 10px;
      z-index: 1;
      font-size: 15px;
      color: $color-main;
      position: absolute;
      font-family: "BIZ UDPGothic";
    }
  }

  &__map {
    width: 85%;
    @include mx;
    aspect-ratio: 1/1;
    border: 0.2px solid #4e4e4e;
    border-radius: 0.5rem;
    margin-bottom: 2.5rem;
    iframe {
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;
      padding: auto;
    }
  }

  &__link {
    display: block;
    color: $color-brown;
    width: 85%;
    @include mx;
    font-family: "BIZ UDPGothic";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem; /* 180% */
    text-decoration-line: underline;
    margin-bottom: 2.5rem;
  }
  &__route {
    &--guide {
      display: flex;
      margin-bottom: 2.5rem;
      gap: 1.5rem;
      width: 85%;
      @include mx;
      &__title {
        width: 27%;
        font-family: "BIZ UDPGothic";
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.8rem; /* 180% */
        border-radius: 1.5rem;
        border: 2px solid $color-main;
        padding: 0 1rem;
        color: $color-main;
        height: fit-content;
        text-align: center;
      }
      .dlwrap {
        width: 73%;
      }
      &__text {
        font-family: "BIZ UDPGothic";
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.8rem; /* 180% */
        color: $color-brown;
        &.caution {
          color: $color-main;
        }
      }
    }
  }
}

.contact {
  background-color: $color-main;
  padding: 3.5rem 0;
  &__title {
    width: 85%;
    text-align: center;
    @include mx;
    font-family: "Zen Maru Gothic";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem; /* 120% */
    color: $color-white;
    span {
      display: inline-block;
    }
    margin-bottom: 1.5rem;
  }
  &__text {
    text-align: center;
    font-family: "BIZ UDPGothic";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem; /* 200% */
    width: 85%;
    color: $color-base2;
    @include mx;
    margin-bottom: 2.5rem;
  }
  &__parts {
    &--button {
      background-color: $color-white;
      width: fit-content;
      border-radius: 6.25rem;
      padding: 1rem 2.5rem;
      @include mx;
      color: $color-white;
      &---text {
        font-family: "BIZ UDPGothic";
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2rem; /* 200% */
        color: $color-main;
      }
      i {
        margin-left: 0.5rem;
      }
    }
  }
}
