@charset "UTF-8";
@import url(./header.css);
@import url(./footer.css);
html,
body {
  color: #5d4a3a;
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 16px;
  font-weight: "";
  letter-spacing: "";
  line-height: "";
  background-color: #fcf9ed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5d4a3a;
  font-weight: 400;
  word-break: break-all;
}

h1 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
  /* 100% */
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
  /* 100% */
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

pre {
  font-size: inherit;
}

table {
  max-width: 100%;
}

th,
td {
  padding: 0.5em;
}

ol,
ul {
  padding-left: 2em;
}

iframe {
  max-width: 100%;
}

input,
textarea,
button {
  font-size: inherit;
  line-height: "";
}

code {
  font-size: inherit;
  word-break: break-all;
}

img {
  max-width: 100%;
}

.button:hover {
  background-color: #80c4e9;
  color: #ffffff;
  transition: 0.3s;
}

.firstView__content {
  display: block;
  margin-bottom: 3.69rem;
  margin-left: auto;
  margin-right: auto;
}
.firstView__content--image {
  height: 100vh;
  border-radius: 0rem 18.96875rem 1.5rem 0rem;
  background: url(../images/firstView.jpg) lightgray 50%/cover no-repeat;
  width: 79%;
  margin-bottom: 3.8rem;
}
.firstView__content--text {
  margin-left: auto;
  margin-right: auto;
  width: 83%;
}
.firstView__content--text img {
  width: 100%;
}
.firstView__content--text .verticalCatch {
  display: none;
}
.firstView__content--text .horizontalCatch {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .firstView__content {
    display: flex;
    justify-content: space-between;
  }
  .firstView__content--image {
    height: 100vh;
    border-radius: 0rem 18.96875rem 1.5rem 0rem;
    background: url(../images/firstView.jpg) lightgray 50%/cover no-repeat;
    width: 79%;
  }
  .firstView__content--text {
    width: 22%;
    padding: 5rem 3rem;
    background-color: none;
  }
  .firstView__content--text .verticalCatch {
    display: block;
    margin-bottom: 1.5rem;
  }
  .firstView__content--text .horizontalCatch {
    display: none;
  }
  .firstView__content--text--title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  .firstView__content--text--detail {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
}
.topInfo {
  position: relative;
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 1.25rem 0rem 0rem 1.25rem;
  display: flex;
  flex-direction: column;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  row-gap: 1.75rem;
  color: #5d4a3a;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.62rem;
}
.topInfo::before {
  content: "もうすぐ開催";
  position: absolute;
  top: -1.4rem;
  left: 2.38rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ff7f3e;
  border-radius: 6.25rem;
  color: #fff;
  padding: 0.25rem 1rem;
}
.topInfo__day {
  font-family: "BIZ UDPGothic";
}
.topInfo__day--year {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
}
.topInfo__day--month {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  /* 100% */
}
.topInfo__day--month .small {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
}
.topInfo__title {
  font-family: "BIZ UDPGothic";
}
.topInfo__title--text {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.125rem;
  /* 170% */
  padding-right: 3rem;
}
.topInfo__title--detail {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3rem;
  /* 130% */
}

@media screen and (min-width: 768px) {
  .topInfo {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1.5rem;
    border-radius: 1.25rem 0rem 0rem 1.25rem;
    display: flex;
    flex-direction: row;
    width: auto;
  }
  .topInfo::before {
    content: "もうすぐ開催";
    position: absolute;
    top: -1.4rem;
    left: 2.38rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #ff7f3e;
    border-radius: 6.25rem;
    color: #fff;
    padding: 0.25rem 1rem;
  }
  .topInfo * {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .topInfo__day {
    font-family: "BIZ UDPGothic";
  }
  .topInfo__day--year {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
    margin-bottom: 0.5rem;
  }
  .topInfo__day--month {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    /* 100% */
  }
  .topInfo__day--month .small {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
  }
  .topInfo__title {
    font-family: "BIZ UDPGothic";
  }
  .topInfo__title--text {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.125rem;
    /* 170% */
    padding-right: 3rem;
  }
  .topInfo__title--detail {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3rem;
    /* 130% */
  }
}
.opening__parts {
  border-radius: 1.5rem;
  background-color: #ff7f3e;
  padding: 3.5rem 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 83%;
  margin-bottom: 3.62rem;
}
.opening__parts--title {
  text-align: center;
  color: #fff;
  margin-bottom: 1.5rem;
}
.opening__parts--text {
  align-self: stretch;
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
  /* 180% */
  color: #fff;
  margin-bottom: 2.5rem;
}
.opening__parts--text span {
  display: inline;
}
.opening__parts--button {
  background-color: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6.25rem;
  padding: 1rem 2.5rem;
  margin-left: auto;
  margin-right: auto;
  color: #ff7f3e;
}
.opening__parts--button---text {
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  /* 200% */
}
.opening__parts--button i {
  margin-left: 0.5rem;
}

@media screen and (min-width: 768px) {
  .opening {
    margin-top: 6.8rem;
  }
  .opening__parts {
    background-color: #ff7f3e;
    padding: 3.5rem 0;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
  }
  .opening__parts--title {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    /* 100% */
  }
  .opening__parts--text {
    width: 32rem;
    text-align: center;
    font-family: "BIZ UDPGothic";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;
    /* 180% */
    margin-left: auto;
    margin-right: auto;
  }
  .opening__parts--text span {
    display: inline;
  }
}
.section__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3.69rem;
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.section__title::before {
  display: block;
  margin-inline: auto;
  content: "";
  top: -3rem;
  left: 0%;
  width: 100%;
  height: 10px;
  z-index: 1;
  margin-top: 1rem;
  font-size: 15px;
  color: #ff7f3e;
  position: absolute;
  font-family: "BIZ UDPGothic";
}

@media screen and (min-width: 768px) {
  .section__title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3.69rem;
    margin-inline: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
  }
  .section__title::before {
    display: block;
    margin-inline: auto;
    content: "";
    top: -3rem;
    left: 0%;
    width: 100%;
    height: 10px;
    z-index: 1;
    margin-top: 1rem;
    font-size: 15px;
    color: #ff7f3e;
    position: absolute;
    font-family: "BIZ UDPGothic";
  }
}
.event {
  background-color: #ffffff;
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
  border-radius: 2.5rem 2.5rem 0rem 0rem;
}
.event__title {
  font-family: "Zen Maru Gothic";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
}
.event__title::before {
  display: block;
  margin-inline: auto;
  content: "Event";
  top: -3rem;
  left: 0%;
  width: 100%;
  height: 10px;
  z-index: 1;
  margin-top: 1rem;
  font-size: 15px;
  color: #ff7f3e;
  position: absolute;
}
.event__image--box {
  margin-bottom: 2.5rem;
}
.event__image {
  margin-bottom: 0.5rem;
}
.event__name {
  text-align: right;
  font-size: 0.9375rem;
}
.event__detail {
  margin-bottom: 2.5rem;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  color: #5d4a3a;
}
.event__detail--copy {
  font-family: "Zen Maru Gothic";
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
  /* 120% */
  color: #5d4a3a;
  margin-bottom: 1.5rem;
}
.event__detail--text {
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
  /* 180% */
}
.event__parts--button {
  background-color: #ff7f3e;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6.25rem;
  padding: 1rem 2.5rem;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}
.event__parts--button---text {
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  /* 200% */
}
.event__parts--button i {
  margin-left: 0.5rem;
}

@media screen and (min-width: 768px) {
  .event__content {
    display: flex;
    justify-content: space-between;
    -moz-column-gap: 6.5rem;
         column-gap: 6.5rem;
    align-items: center;
  }
  .event__image--box {
    width: 50%;
    border-radius: 0rem 1rem;
    padding: 0;
  }
  .event__image--box img {
    border-radius: 0rem 1rem 1rem 0;
  }
  .event__name {
    font-family: "BIZ UDPGothic";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    /* 200% */
  }
  .event__expl {
    padding-right: 6.5rem;
    text-align: left;
    width: 40%;
  }
  .event__detail {
    width: 100%;
  }
  .event__parts--button {
    margin-left: 0;
  }
}
.storeInfo {
  background-color: #ffffff;
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
}
.storeInfo__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3.69rem;
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.storeInfo__title::before {
  display: block;
  margin-inline: auto;
  content: "Shop";
  top: -3rem;
  left: 0%;
  width: 100%;
  height: 10px;
  z-index: 1;
  margin-top: 1rem;
  font-size: 15px;
  color: #ff7f3e;
  position: absolute;
}
.storeInfo__text {
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  color: #5d4a3a;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
  /* 180% */
  margin-bottom: 2.5rem;
}
.storeInfo ul {
  list-style: none;
}
@-webkit-keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.storeInfo .scroll-infinity__wrap {
  display: flex;
  overflow: hidden;
}
.storeInfo .scroll-infinity__list {
  display: flex;
  list-style: none;
  padding: 0;
}
.storeInfo .scroll-infinity__list--left {
  -webkit-animation: infinity-scroll-left 80s infinite linear 0.5s both;
          animation: infinity-scroll-left 80s infinite linear 0.5s both;
}
.storeInfo .scroll-infinity__item {
  width: 66.6666666667vw;
  margin-right: 1.5rem;
}
.storeInfo .scroll-infinity__item > img {
  width: 100%;
  border-radius: 1.25rem;
}
@-webkit-keyframes infinity-scroll-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes infinity-scroll-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.storeInfo .scroll-infinity__wrap {
  display: flex;
  overflow: hidden;
}
.storeInfo .scroll-infinity__list {
  display: flex;
  list-style: none;
  padding: 0;
}
.storeInfo .scroll-infinity__list--right {
  -webkit-animation: infinity-scroll-right 80s infinite linear 0.5s both;
          animation: infinity-scroll-right 80s infinite linear 0.5s both;
}
.storeInfo .scroll-infinity__item {
  width: 66.6666666667vw;
  margin-right: 1.5rem;
}
.storeInfo .scroll-infinity__item > img {
  width: 100%;
  border-radius: 1.25rem;
}

@media screen and (min-width: 768px) {
  .storeInfo .imageScroll {
    margin-bottom: 3.75rem;
  }
  .storeInfo__text {
    text-align: center;
    font-family: "BIZ UDPGothic";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;
    /* 180% */
    margin-bottom: 3.75rem;
  }
  .storeInfo__text span {
    display: block;
  }
  .storeInfo .button {
    margin-left: auto;
    margin-right: auto;
  }
  .storeInfo .scroll-infinity__item {
    width: 33.3333333333vw;
    margin-right: 4rem;
    max-width: 22rem;
  }
  .storeInfo .scroll-infinity__item > img {
    width: 100%;
    border-radius: 1.25rem;
  }
}
.bg-main {
  background-color: #fcf9ed;
}

.latestInfo {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
  font-family: "Zen Maru Gothic";
}
.latestInfo__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3.69rem;
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.latestInfo__title::before {
  content: "News";
  top: -3rem;
  left: 0%;
  width: 100%;
  height: 10px;
  z-index: 1;
  margin-top: 1rem;
  font-size: 15px;
  color: #ff7f3e;
  position: absolute;
}
.latestInfo__instagram {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.69rem;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
}
.latestInfo__instagram--post {
  width: 7rem;
}
.latestInfo__instagram--post img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}
.latestInfo__text {
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  color: #5d4a3a;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
  /* 180% */
  margin-bottom: 2.5rem;
  text-align: center;
}
.latestInfo__parts--button {
  background-color: #ff7f3e;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6.25rem;
  padding: 1rem 2.5rem;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}
.latestInfo__parts--button---text {
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  /* 200% */
}
.latestInfo__parts--button i {
  margin-left: 0.5rem;
}

@media screen and (min-width: 768px) {
  .latestInfo__instagram {
    margin-bottom: 3.75rem;
    width: 58.6885245902%;
    margin-left: auto;
    margin-right: auto;
    max-width: 716px;
  }
  .latestInfo__instagram--post {
    width: 13rem;
  }
}
.about {
  padding-bottom: 6.5rem;
}
.about__imagebox {
  border-radius: 0rem 1.5rem 1.5rem 0rem;
  background: url(/images/firstView.jpg) lightgray 50%/cover no-repeat;
  flex-shrink: 0;
}
.about__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3.69rem;
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  color: #5d4a3a;
}
.about__title::before {
  content: "About";
  top: -3rem;
  left: 0%;
  width: 100%;
  height: 10px;
  z-index: 1;
  margin-top: 1rem;
  font-size: 15px;
  color: #ff7f3e;
  position: absolute;
  font-family: "BIZ UDPGothic";
}
.about__text {
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem;
  /* 300% */
  color: #5d4a3a;
  margin-bottom: 2.5rem;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.about__parts--button {
  background-color: #ff7f3e;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6.25rem;
  padding: 1rem 2.5rem;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}
.about__parts--button---text {
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  /* 200% */
}
.about__parts--button i {
  margin-left: 0.5rem;
}
.about .image__area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.69rem;
}
.about .image__area :nth-child(1) {
  border-radius: 1.5rem;
}
.about__opening {
  width: 83%;
  background-color: #ffffff;
  padding: 7.5rem 2rem 3.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.5rem;
}
.about__opening__title {
  text-align: center;
  font-family: "Zen Maru Gothic";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  /* 125% */
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  color: #5d4a3a;
}
.about__opening__title::before {
  content: "Opening a store";
  top: -3rem;
  left: 0%;
  width: 100%;
  height: 10px;
  z-index: 1;
  font-size: 15px;
  color: #ff7f3e;
  position: absolute;
  font-family: "BIZ UDPGothic";
}
.about__opening__text {
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
  /* 180% */
  color: #5d4a3a;
  margin: 2.5rem auto;
  text-align: center;
}
.about__opening__parts--button {
  background-color: #ff7f3e;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6.25rem;
  padding: 1rem 2.5rem;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}
.about__opening__parts--button---text {
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  /* 200% */
}
.about__opening__parts--button i {
  margin-left: 0.5rem;
}

@media screen and (min-width: 768px) {
  .about .button {
    margin-bottom: 104px;
  }
}
.access {
  padding-top: 6.5rem;
  padding-bottom: 3.5rem;
  background-color: #ffffff;
}
.access__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  color: #5d4a3a;
}
.access__title::before {
  content: "Access";
  top: -3rem;
  left: 0%;
  width: 100%;
  height: 10px;
  z-index: 1;
  font-size: 15px;
  color: #ff7f3e;
  position: absolute;
  font-family: "BIZ UDPGothic";
}
.access__map {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 1/1;
  border: 0.2px solid #4e4e4e;
  border-radius: 0.5rem;
  margin-bottom: 2.5rem;
}
.access__map iframe {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  padding: auto;
}
.access__link {
  display: block;
  color: #5d4a3a;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
  /* 180% */
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-bottom: 2.5rem;
}
.access__route--guide {
  display: flex;
  margin-bottom: 2.5rem;
  gap: 1.5rem;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.access__route--guide__title {
  width: 27%;
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
  /* 180% */
  border-radius: 1.5rem;
  border: 2px solid #ff7f3e;
  padding: 0 1rem;
  color: #ff7f3e;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}
.access__route--guide .dlwrap {
  width: 73%;
}
.access__route--guide__text {
  font-family: "BIZ UDPGothic";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
  /* 180% */
  color: #5d4a3a;
}
.access__route--guide__text.caution {
  color: #ff7f3e;
}
/*# sourceMappingURL=style.css.map */