@charset "utf-8";


$color-black: #212121;
$color-gray: #e9e9e9;
$color-main: #ff7f3e;
$color-base2: #fcf9ed;
$color-white: #ffffff;
$color-brown: #5d4a3a;
$color-skyblue: #80c4e9;

$breakpoints: (
    "sm": "screen and (min-width: 430px)",
    "md": "screen and (min-width: 768px)",
    "lg": "screen and (min-width: 992px)",
    "xl": "screen and (min-width: 1200px)",
    ) !default;

@mixin mx {
    margin-left: auto;
    margin-right: auto;
}

@mixin media($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

.detail {
    margin-top: 4rem;
}



.address {


    &__head {
        color: $color-brown;
        font-size: 1.25rem;
        font-family: "BIZ UDPGothic";
        font-style: normal;
        font-weight: 700;
        line-height: 2.5rem;
        /* 200% */
    }

    &__text {
        font-family: "BIZ UDPGothic";
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.8rem;
        text-decoration-line: underline;

        a {
            color: $color-brown;
        }
    }

    &__tel {
        font-family: "BIZ UDPGothic";
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.5rem;

        /* 200% */
        i {
            color: $color-main;
        }
    }

}

.time {

    display: flex;
    width: 28.625rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;


    &__head {
        font-family: "BIZ UDPGothic";
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.8rem;
        /* 180% */
        inline-size: 350px;

    }

    &__text {
        color: $color-main;
        font-family: "BIZ UDPGothic";
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.8rem;
        gap: 0.5rem;
    }

    &__bus {
        font-family: "BIZ UDPGothic";
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.8rem;
        /* 180% */
    }
}





.detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;
}

.train {

    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    margin-bottom: 1.5rem;


}

.bus {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    align-items: center;

    &__text {
        font-family: "BIZ UDPGothic";
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.8rem;
    }
}