@charset "utf-8";

$color-black: #212121;
$color-gray: #e9e9e9;
$color-main: #ff7f3e;
$color-base2: #fcf9ed;
$color-white: #ffffff;
$color-brown: #5d4a3a;
$color-skyblue: #80c4e9;

$breakpoints: (
  "sm": "screen and (min-width: 430px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 992px)",
  "xl": "screen and (min-width: 1200px)",
  ) !default;

@mixin mx {
  margin-left: auto;
  margin-right: auto;
}

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

body {
  background-color: $color-base2;
}

img {
  max-width: 100%;
}

.event__content {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
  padding-bottom: 12.5rem;

  &__image {
    height: 27.25rem;
    border-radius: 0rem 6.25rem 1.5rem 0rem;
    background: url(../images/makiwaramatsuri.jpeg) lightgray 50% / cover no-repeat;
    width: 79%;
    flex-shrink: 0;
  }

  &__text h1 {
    width: 2rem;
    color: $color-brown;
    font-family: "Zen Maru Gothic";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    /* 100% */
  }

  &__text p {
    transform: rotate(90deg
    );
  color: $color-main;
  font-family: "BIZ UDPGothic";
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  /* 100% */
}
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 63%;

  &__header {
    margin-bottom: 4rem;
    color: $color-brown;
    font-family: "Zen Maru Gothic";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    /* 100% */

    &__header {
      position: relative;
      display: inline-block;
      padding-right: 10px;
    }

    &__header::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translateY(-50%);
      width: 100px;
      /* 破線の長さ */
      height: 1px;
      background: linear-gradient(to right, black 50%, transparent 50%);
      background-size: 10px 1px;
    }
  }
}

.card__wapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 1rem;
  row-gap: 6.5rem;

  .card__wapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1rem;
    row-gap: 6.5rem;
  }

  .card {
    color: $color-brown;
    width: 45%;
    position: relative;

    &::before {
      content: "参加無料";
      display: inline-block;
      background-color: $color-main;
      color: $color-white;
      font-size: 1.125rem;
      border-radius: 25px;
      padding: 1rem;
      position: absolute;
      top: -5%;
    }

    &__image {
      width: 100%;
      margin-bottom: 1.5rem;

      img {
        width: 100%;
        border-radius: 1.5rem;
        object-fit: cover;
        aspect-ratio: 4/3;
      }
    }

    &__title {
      font-family: "Zen Maru Gothic";
      font-size: 1.625rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.5rem;
      margin-bottom: 1rem;
      /* 92.308% */
    }

    &__date {
      font-family: "BIZ UDPGothic";
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.5rem;
      display: inline-block;
      margin-bottom: 1rem;
      /* 120% */
    }

    &__text {
      font-family: "BIZ UDPGothic";
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.8rem;
      /* 180% */
    }
  }
}